–î–∞–Ω–Ω—ã–µ –ø–æ –ø—Ä–æ–¥–∞–∂–∞–º –∞–≤–æ–∫–∞–¥–æ ü•ë:** 

* date ‚Äî –¥–∞—Ç–∞
* average_price ‚Äî —Å—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –æ–¥–Ω–æ–≥–æ –∞–≤–æ–∫–∞–¥–æ
* total_volume ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ
* plu4046 ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ PLU* 4046
* plu4225 ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ PLU 4225
* plu4770 ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ PLU 4770
* total_bags ‚Äî –≤—Å–µ–≥–æ —É–ø–∞–∫–æ–≤–æ–∫
* small_bags ‚Äî –º–∞–ª–µ–Ω—å–∫–∏–µ —É–ø–∞–∫–æ–≤–∫–∏
* large_bags ‚Äî –±–æ–ª—å—à–∏–µ
* xlarge_bags ‚Äî –æ—á–µ–Ω—å –±–æ–ª—å—à–∏–µ
* type ‚Äî –æ–±—ã—á–Ω—ã–π –∏–ª–∏ –æ—Ä–≥–∞–Ω–∏—á–µ—Å–∫–∏–π
* year ‚Äî –≥–æ–¥
* region ‚Äî –≥–æ—Ä–æ–¥ –∏–ª–∏ —Ä–µ–≥–∏–æ–Ω (TotalUS ‚Äì —Å—Ä–∞–∑—É –ø–æ –°–®–ê)

**–í —Ç–∞–±–ª–∏—Ü–µ –Ω–∞—Ö–æ–¥—è—Ç—Å—è –¥–∞–Ω–Ω—ã–µ –Ω–µ –∑–∞ –∫–∞–∂–¥—ã–π –¥–µ–Ω—å, –∞ –∑–∞ –∫–æ–Ω–µ—Ü –∫–∞–∂–¥–æ–π –Ω–µ–¥–µ–ª–∏. –î–ª—è –∫–∞–∂–¥–æ–π –¥–∞—Ç—ã –µ—Å—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π, –æ—Ç–ª–∏—á–∞—é—â–∏—Ö—Å—è –ø–æ —Ç–∏–ø—É –∞–≤–æ–∫–∞–¥–æ –∏ —Ä–µ–≥–∏–æ–Ω—É –ø—Ä–æ–¥–∞–∂–∏.** 


*PLU ‚Äî –∫–æ–¥ —Ç–æ–≤–∞—Ä–∞ (Product Lookup code)

**6. –î–∞–≤–∞–π—Ç–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø—Ä–æ–¥–∞–∂–∏ –∞–≤–æ–∫–∞–¥–æ –≤ –¥–≤—É—Ö –≥–æ—Ä–æ–¥–∞—Ö (NewYork, LosAngeles) –∏ —É–∑–Ω–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –∞–≤–æ–∫–∞–¥–æ —Ç–∏–ø–∞ organic –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ –≤ —Ü–µ–ª–æ–º –∫ –∫–æ–Ω—Ü—É –∫–∞–∂–¥–æ–π –Ω–µ–¥–µ–ª–∏ (–Ω–∞–∫–æ–ø–∏—Ç–µ–ª—å–Ω–∞—è —Å—É–º–º–∞ –ø—Ä–æ–¥–∞–∂), –Ω–∞—á–∏–Ω–∞—è —Å –Ω–∞—á–∞–ª–∞ –ø–µ—Ä–∏–æ–¥–∞ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π (04/01/15). –ü—Ä–∏–º–µ—Ä —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–µ–π —Ç–∞–±–ª–∏—Ü—ã:**

region|	date	|total_volume |	volume
:-----:|--------:|------------:|-------:
NewYork	| 04/01/15|	17328.24 	|17328.24 
NewYork	| 11/01/15	|14817.97 |	32146.21 
NewYork	| 18/01/15	|9204.78 	|41350.99 
NewYork	| 25/01/15	|14337.32 |	55688.31 
NewYork	 |01/02/15	|24697.84 |	80386.15 
LosAngeles 	| 04/01/15|	54495.54 |	54495.54 
LosAngeles 	| 11/01/15	|60232.63 |	114728.17 

**–ó–Ω–∞—á–µ–Ω–∏—è –≤–Ω—É—Ç—Ä–∏ –æ–∫–Ω–∞ —Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –ø–æ –¥–∞—Ç–µ, –∞ —Å–∞–º—É —Ç–∞–±–ª–∏—Ü—É –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –ø–æ —É–±—ã–≤–∞–Ω–∏—é —Ä–µ–≥–∏–æ–Ω–∞ (—Å–Ω–∞—á–∞–ª–∞ NY, –ø–æ—Ç–æ–º LA) –∏ –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é –¥–∞—Ç—ã.**

**–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –æ–±—ä–µ–º –ø—Ä–æ–¥–∞–∂ –≤ –ù—å—é –ô–æ—Ä–∫–µ –Ω–∞ 01/03/15 (–±–µ–∑ –∑–∞–ø—è—Ç—ã—Ö).**

```sql
SELECT
    region,    
    date,   
    total_volume,    
    SUM(total_volume) OVER w AS volume    
FROM
    avocado  
WHERE region IN ('NewYork', 'LosAngeles')
AND type = 'organic'
WINDOW w AS
    (    
    PARTITION BY region   
    ORDER BY date ASC   
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW   
    )
ORDER BY
    region DESC,    
    date ASC
```   
–û—Ç–≤–µ—Ç: `165402.96`

**7. –¢–µ–ø–µ—Ä—å –¥–æ–±–∞–≤—å—Ç–µ —Ä–∞–∑–±–∏–µ–Ω–∏–µ –ø–æ –∫–∞–∂–¥–æ–º—É –≥–æ–¥—É (year). –¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, –≤ –∫–æ–Ω—Ü–µ —Ñ–µ–≤—Ä–∞–ª—è 2016 –≥–æ–¥–∞ –æ–±—ä–µ–º —Å–æ—Å—Ç–∞–≤–∏—Ç —É–∂–µ –Ω–µ –ø—Ä–æ–¥–∞–∂–∏ –∑–∞ 2015 –∏ —è–Ω–≤–∞—Ä—å-—Ñ–µ–≤—Ä–∞–ª—å 2016, –∞ —Ç–æ–ª—å–∫–æ —è–Ω–≤–∞—Ä—å-—Ñ–µ–≤—Ä–∞–ª—å 2016.**

**–ö–æ–≥–¥–∞ –æ–±—ä–µ–º—ã –ø—Ä–æ–¥–∞–∂ –æ—Ä–≥–∞–Ω–∏—á–µ—Å–∫–∏—Ö –∞–≤–æ–∫–∞–¥–æ –≤ –ù—å—é-–ô–æ—Ä–∫–µ –ø—Ä–µ–≤—ã—Å–∏–ª–∏ –æ–±—ä–µ–º—ã –ø—Ä–æ–¥–∞–∂ –≤ –õ–æ—Å-–ê–Ω–¥–∂–µ–ª–µ—Å–µ?**

**–î–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞—á–∏ –ø–æ—Å—Ç—Ä–æ–π—Ç–µ –≥—Ä–∞—Ñ–∏–∫ –æ–±—ä–µ–º–∞ –ø—Ä–æ–¥–∞–∂ –≤ –¥–≤—É—Ö –≥–æ—Ä–æ–¥–∞—Ö, –≥–¥–µ –ø–æ –æ—Å–∏ X –±—É–¥–µ—Ç –ª–µ–∂–∞—Ç—å –¥–∞—Ç–∞.** 

```sql
SELECT
    region,   
    date_part('year', date) as year,    
    date,    
    SUM(total_volume) OVER w AS volume    
FROM
    avocado    
WHERE region IN ('NewYork', 'LosAngeles')
AND type = 'organic'
WINDOW w AS
    (    
    PARTITION BY region,    
                 year                 
    ORDER BY date    
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW   
    )
ORDER BY
    region DESC,    
    date ASC
```

![](https://i.ibb.co/c1C5Z2k/a1.png)

* –í –¥–µ–∫–∞–±—Ä–µ 2016
* –ù–∏–∫–æ–≥–¥–∞
* **–í —Ñ–µ–≤—Ä–∞–ª–µ 2018**
* –í —Ñ–µ–≤—Ä–∞–ª–µ 2017

**8. –ü–æ—Å–º–æ—Ç—Ä–∏–º, –∫–æ–≥–¥–∞ –æ–±—ä–µ–º—ã –ø—Ä–æ–¥–∞–∂ –æ–±—ã—á–Ω—ã—Ö (conventional) –∞–≤–æ–∫–∞–¥–æ —Ä–µ–∑–∫–æ –ø–∞–¥–∞–ª–∏ –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –ø—Ä–µ–¥—ã–¥—É—â–µ–π –Ω–µ–¥–µ–ª–µ–π. –í–æ–∑—å–º–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –°–®–ê –≤ —Ü–µ–ª–æ–º, –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Ä–∞–∑–Ω–∏—Ü—É –º–µ–∂–¥—É –æ–±—ä–µ–º–æ–º –ø—Ä–æ–¥–∞–∂ –≤ –Ω–µ–¥–µ–ª—é x (total_volume) –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ –≤ —Ç–µ—á–µ–Ω–∏–µ –ø—Ä–µ–¥—ã–¥—É—â–µ–π –Ω–µ–¥–µ–ª–∏. –ó–Ω–∞—á–µ–Ω–∏—è –∑–∞–ø–∏—à–∏—Ç–µ –≤ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü week_diff.**

* type ‚Äì —Ç–∏–ø –∞–≤–æ–∫–∞–¥–æ (conventional)
* region ‚Äì —Ä–µ–≥–∏–æ–Ω (TotalUS)
* total_volume ‚Äì –æ–±—ä–µ–º –ø—Ä–æ–¥–∞–∂ –∑–∞ –Ω–µ–¥–µ–ª—é

**–ü—Ä–∏–º–µ—Ä:**

date    | 	total_volume  |	region  |	type        | 	week_diff  
-------:|----------------:|--------:|--------------:|------------:
04/01/15|	31,324,277.73|	TotalUS |	conventional 	|
11/01/15	|29,063,542.75	|TotalUS 	|conventional |	-2,260,734.98

**–í–∏–∑—É–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –≥–¥–µ –ø–æ –æ—Å–∏ x –±—É–¥–µ—Ç —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∞ –¥–∞—Ç–∞, –∞ –ø–æ –æ—Å–∏ y ‚Äì—Ä–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É –ø—Ä–æ–¥–∞–∂–∞–º–∏ –≤ xt –∏ xt-1. –í—ã–±–µ—Ä–∏—Ç–µ –≤–µ—Ä–Ω—ã–µ —É—Ç–≤–µ—Ä–∂–¥–µ–Ω–∏—è:**

```sql
SELECT
    date,    
    region,    
    type,   
    total_volume - LAG(total_volume, 1) OVER w AS diff    
FROM
    avocado    
WHERE  type = 'conventional' AND region = 'TotalUS'
WINDOW w AS
    (    
    PARTITION BY region    
    ORDER BY date ASC    
    )
```

![](https://i.ibb.co/zG4dMqS/a2.png)

* **–°–∞–º—ã–µ –±–æ–ª—å—à–∏–µ –ø–∞–¥–µ–Ω–∏—è –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∞–≤–æ–∫–∞–¥–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏–ª–∏ –≤ —Ñ–µ–≤—Ä–∞–ª–µ**
* –°–∞–º—ã–µ –±–æ–ª—å—à–∏–µ –ø–∞–¥–µ–Ω–∏—è –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∞–≤–æ–∫–∞–¥–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏–ª–∏ –≤ –Ω–æ—è–±—Ä–µ
* –°–∞–º–æ–µ –±–æ–ª—å—à–æ–µ –ø–∞–¥–µ–Ω–∏–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –ø—Ä–µ–¥—ã–¥—É—â–µ–π –Ω–µ–¥–µ–ª–µ–π –ø—Ä–æ–∏–∑–æ—à–ª–æ 6 –Ω–æ—è–±—Ä—è 2016 –≥–æ–¥–∞
* –°–∞–º–æ–µ –±–æ–ª—å—à–æ–µ –ø–∞–¥–µ–Ω–∏–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –ø—Ä–µ–¥—ã–¥—É—â–µ–π –Ω–µ–¥–µ–ª–µ–π –ø—Ä–æ–∏–∑–æ—à–ª–æ 14 —Ñ–µ–≤—Ä–∞–ª—è 2016 –≥–æ–¥–∞
* **–°–∞–º–æ–µ –∫—Ä—É–ø–Ω–æ–µ –ø–∞–¥–µ–Ω–∏–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –ø—Ä–µ–¥—ã–¥—É—â–µ–π –Ω–µ–¥–µ–ª–µ–π –ø—Ä–æ–∏–∑–æ—à–ª–æ 12 —Ñ–µ–≤—Ä–∞–ª—è 2017 –≥–æ–¥–∞**

**9. –ü–æ—Å–º–æ—Ç—Ä–∏–º –±–æ–ª–µ–µ –ø–æ–¥—Ä–æ–±–Ω–æ –Ω–∞ –æ–±—ä–µ–º—ã –ø—Ä–æ–¥–∞–∂ –∞–≤–æ–∫–∞–¥–æ –≤ –ù—å—é-–ô–æ—Ä–∫–µ (NewYork) –≤ 2018 –≥–æ–¥—É. –°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É —Å —Ä–∞–∑–Ω–∏—Ü–µ–π –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∑–∞ –Ω–µ–¥–µ–ª—é –∏ –∑–∞ –Ω–µ–¥–µ–ª—é –¥–æ —ç—Ç–æ–≥–æ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–∏–ø–∞ –∞–≤–æ–∫–∞–¥–æ. –ù–∞–π–¥–∏—Ç–µ –¥–µ–Ω—å, –∫–æ–≥–¥–∞ –ø—Ä–æ–¥–∞–∂–∏ –∞–≤–æ–∫–∞–¥–æ —Ç–∏–ø–∞ organic —É–≤–µ–ª–∏—á–∏–ª–∏—Å—å –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –ø—Ä–µ–¥—ã–¥—É—â–µ–π –Ω–µ–¥–µ–ª–µ–π, –∞ conventional ‚Äì –Ω–∞–æ–±–æ—Ä–æ—Ç —É–ø–∞–ª–∏. –ï—Å–ª–∏ —Ç–∞–∫–∏—Ö –¥–Ω–µ–π –Ω–µ—Å–∫–æ–ª—å–∫–æ, —Ç–æ —É–∫–∞–∂–∏—Ç–µ –∏—Ö —á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é —Å –ø—Ä–æ–±–µ–ª–æ–º, —Ñ–æ—Ä–º–∞—Ç ‚Äì 31/12/2020. –ù–∞–ø—Ä–∏–º–µ—Ä:**

29/03/2020, 31/12/2020

```sql 
SELECT
    date,    
    region,   
    type,    
    year,    
    total_volume,   
    total_volume - LAG(total_volume, 1) OVER (   
    PARTITION BY type    
    ORDER BY date    
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW    
    ) AS diff  
FROM
    avocado    
WHERE  year = '2018' AND region = 'NewYork'
ORDER BY type
```

![](https://i.ibb.co/vx9V1dG/a3.png)

–û—Ç–≤–µ—Ç: `18/02/2018, 18/03/2018`

**10. –¢–µ–ø–µ—Ä—å –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å–∫–æ–ª—å–∑—è—â–µ–µ —Å—Ä–µ–¥–Ω–µ–µ —Ü–µ–Ω—ã –∞–≤–æ–∫–∞–¥–æ (average_price) –≤ –ù—å—é-–ô–æ—Ä–∫–µ —Å —Ä–∞–∑–±–∏–≤–∫–æ–π –ø–æ —Ç–∏–ø—É –∞–≤–æ–∫–∞–¥–æ. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ–∫–Ω–∞ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Ç–µ–∫—É—â—É—é –Ω–µ–¥–µ–ª—é –∏ –ø—Ä–µ–¥—ã–¥—É—â–∏–µ –¥–≤–µ (–æ–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –≤ –¥–∞–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ –≤ —Å—Ç—Ä–æ–∫–∞—Ö —Å–æ–¥–µ—Ä–∂–∞—Ç—Å—è –¥–∞–Ω–Ω—ã–µ –∑–∞ –Ω–µ–¥–µ–ª—é, –∞ –Ω–µ –∑–∞ –æ–¥–∏–Ω –¥–µ–Ω—å). –ù–∞–ø—Ä–∏–º–µ—Ä 04/01/15, 11/01/15 –∏ 18/01/15 –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∑–Ω–∞—á–µ–Ω–∏—è –¥–ª—è 18/01/15.**

date     |	average_price |	region  |	type    |     	rolling_price 
--------:|---------------:|--------:|----------:|-------------------:
04/01/15|	1.09|	NewYork |	conventional |	1.09
11/01/15|	1.34|	NewYork |	conventional |	1.22
18/01/15 |	1.37	|NewYork |	conventional |	1.27
25/01/15|	1.36	|NewYork |	conventional |	1.36

**–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è –æ–±—ã—á–Ω—ã—Ö (conventional) –∞–≤–æ–∫–∞–¥–æ –∑–∞ 17/04/16.**

Hint: N PRECEDING ‚Äì N –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö —Å—Ç—Ä–æ–∫ 

```sql
SELECT
    type,   
    date,    
    AVG(average_price) OVER w AS rol_mean    
FROM
    avocado    
WHERE region = 'NewYork'
WINDOW w AS
    (    
    PARTITION BY type    
    ORDER BY date     
    ROWS BETWEEN 2 PRECEDING AND CURRENT ROW   
    )
ORDER BY date ASC
```

–û—Ç–≤–µ—Ç: `1.16`